body{
    background-color: rgb(175, 195, 212);
}
form{
    display: grid;
    gap:30px;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    padding: 70px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
input{
    padding: 7px;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-style: italic;
}
input:nth-child(3){
    font-size: 30px;
}